<!DOCTYPE html>
<html>
    <head>
        <style>
            * {
                padding: 0;
                margin: 0;
            }
        </style>
            <link rel ="stylesheet" href="../assets/CSS/to_docss.css" type="text/css">
            <link rel ="stylesheet" href="../assets/CSS/sign_inPage.css" type="text/css">
            <link rel ="stylesheet" href="../assets/CSS/sign_upPage.css" type="text/css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
            <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
            <link rel="apple-touch-icon" href="https://d3ptyyxy2at9ui.cloudfront.net/todoist_apple_touch_icon-bab0a0.png">
            <link rel="shortcut icon" type="image/x-icon" href="../assets/IMAGES/icon.ico" />
            <script src="../assets/JS/addTask.js"></script>
            <script src="../assets/JS/ajaxWrapper.js"></script>
            <script src="../assets/JS/index.js"></script>
            <script src="../assets/JS/head_to_TaskCont.js"></script>
            <script src="../assets/JS/sign_UP.JS"></script>
            <script src="../assets/JS/sign_IN.JS"></script>


            <title>Varun's To-Do</title>
        </head>
<body onload="onloadFun()">
<div class="container"></div>
</body>
</html>
